Sample/Sample/WebContent/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapSample.tcs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapSample.tcs.com" xmlns:intf="http://soapSample.tcs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapSample.tcs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getLogin">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLoginResponse">
    <complexType>
     <sequence>
      <element name="getLoginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLoginRequest">

      <wsdl:part element="impl:getLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLoginResponse">

      <wsdl:part element="impl:getLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="getLogin">

         <wsdl:input message="impl:getLoginRequest" name="getLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLoginResponse" name="getLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8080/SampleSoap/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
